<div class="container">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter amount" type="number" #val>
      </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Choose Country for conversion" #con1>
          <mat-option *ngFor="let con of arrData" [value]="con.code">
            {{con.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
          <mat-select placeholder="Choose Country to conversion" #con2>
            <mat-option *ngFor="let con of arrData" [value]="con.code">
              {{con.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="onClick(val, con1, con2)" mat-raised-button color="primary">Convert</button>
        <h1 style="margin: 15px 0;" *ngIf="convertedData">Converted value : {{ convertedData }}</h1>
        <!-- <h2 style="margin: 15px 0;">{{ convertedData }}</h2> -->
</div>


