mat-form-field,
.main-container {
  width: 100%;
  max-width: 500px;
  margin: 15px auto;
  display: block;
}

.container {
  text-align: center;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row {
  justify-content: center;
}

.mat-toolbar-row {
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
mat-spinner {
  margin: 0 auto;
}


